@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


::-webkit-scrollbar{
  width: 10px;
  background: #212122;
}
::-webkit-scrollbar-thumb{
  border-radius: 2em;
  background: #000000;
}
